cat <<EOF > .gitignore
# 忽略所有中间过程产生的视频和音频
temp_*.wav
temp_*.mp4
*.ass
separated/

input/林俊杰_领悟.mp4
input/demo_video.mp4
output_mp4/林俊杰_领悟_音高版.mp4
output_mp4/demo_video.mp4
output_srt

# 忽略模型权重文件
YourMT3/amt/logs/
*.ckpt

# 忽略 Python 缓存
__pycache__/
*.pyc
EOF
.ipynb_checkpoints/
.vscode/
.idea/