torch
torchaudio
torchvision

demucs
pretty_midi
librosa
scipy

mimetypes
numpy

tqdm
huggingface_hub
transformers==4.45.1
numpy==1.26.4
wandb
mido
git+https://github.com/craffel/mir_eval.git
lightning>=2.2.1